.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 42px calc((1200px - 1088px)/2) 12px
}

.nav-span {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: bold;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.main-container-div {
  padding: 117px 0 0 67px;
  display: flex;
  flex-direction: column;
}

.main-img {
  padding-bottom: 48px;
}

.section {
  background-color: var(--light-blue);
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.section-title {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: var(--medium);
}

.section-text {
  width: 800px;
  text-align: center;
}

.section-img-container {
  display: flex;
  padding-bottom: 73px;
}